@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Tilt+Warp&display=swap');
* {
    scroll-behavior: smooth;}

body { /*cuerpo de la pagina*/
    background: linear-gradient(100deg, rgb(235, 163, 175) 0%, white 50%, pink 100%);
    display: block;
    margin: auto;
    box-sizing: border-box;
}

::selection{
    background-color: #ff000069;
}

.fondo{
    width: 100px;
    height: 100px;
    position: fixed;
    z-index: -5;
    top: 370px;
    right: 500px;
}
.fondo2{
    width: 100px;
    height: 100px;
    position: fixed;
    z-index: -4;
    top: 90px;
    left: 900px;
}
.fondo3{
    width: 100px;
    height: 100px;
    position: fixed;
    z-index: -6;
    top: 10px;
    left: 30px;
}
.fondo4{
    width: 100px;
    height: 100px;
    position: fixed;
    z-index: -7;
    top: 400px;
    left: 300px;
}
.fondo5{
    width: 100px;
    height: 100px;
    position: fixed;
    z-index: -8;
    top: 530px;
    right: 0px;
}
.fondo6{
    width: 100px;
    height: 100px;
    position: fixed;
    z-index: -8;
    top: 300px;
    right: 800px;
}
.fondo7{
    width: 100px;
    height: 100px;
    position: fixed;
    z-index: -8;
    top: 30px;
    right: 100px;
}
.fondo8{
    width: 100px;
    height: 100px;
    position: fixed;
    z-index: -8;
    top: 530px;
    left: 100px;
}
.fondo9{
    width: 100px;
    height: 100px;
    position: fixed;
    z-index: -8;
    top: 200px;
    left: 30px;
}
body div #f1{
    opacity: 0.5;
}

header{ /*cabezera de la pagina*/
    background-image: url(img/encabezado.png);
    background-size: 100% 100%;
    width: 100%;
    height: auto;
    margin-bottom: 4px;
    box-sizing: border-box;
    display: flex;
}
.logo1{
    width: 200px;
    height: 200px;
    margin-bottom: 25px;
}
.logo2{
    width: 60%;
    height: auto;
    margin-bottom: 25px;
}

.logo1 img, .logo2 img {
    width: 100%;
    height: 100%;
}


nav{ /*barra de navegación de la pagina*/
    width: 100%;
    color: #562B00;
    padding: 3px;
    display: block;
    box-sizing: border-box;
}
.barra{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Times New Roman', Times, serif;
    width: 90%;
}
li a, #menu div a{
    text-decoration: none;
    font-family: 'Tilt Warp';
    color:#b85456;
    font-size: 1.5em;
}
li{
    list-style-type: none;
    position: relative;
}
li:hover{
    cursor: pointer;
}
li::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: maroon;
    border:4px;
    scale:.1;
    transform-origin: left;
    transition: scale .25s;
}
li:hover::before{
    scale: 1;
}
main { /*contenido principal de la pagina*/
    width: 100%;
    height: auto;
    padding: 15px;
    display: block;
    margin-top: 4px;
    box-sizing: border-box;
}
.contenernor-titulos-img{
    width: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    align-items: center;
}

.titulos{
    backface-visibility: hidden;
    padding: 5px;
    flex: 2;
}
.titulos p{
    margin-bottom: 2rem;
}
#historia{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.img-local{
    max-width: 300px;
    max-height: 550px;
    background-color: rgba(216, 112, 147, 0.337);
    border: 3px solid crimson;
    border-radius: 15px;
    box-shadow: 2px 2px 30px rgba(186, 52, 201, 0.413);
}
.img-local img{
    max-width: 300px;
    max-height: 550px;
}

.description-local img{
    max-width: 400px;
    max-height: 300px;
}
.description-local{
    width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
}
.desc-bienvenida{
    max-width: 500px;
    padding: 2rem;
    text-align: justify;
}
.eventos{
    max-width: 900px;
    text-align: justify;
}
#menu div h2{
    color: #b85456;
}
#menu{
    text-align: center;
}
#menu div{
    margin: 2rem 0;
}
.comentarios-mona-china{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
.mona-china{
    width: 500px; 
    height: 700px;
}
.mona-china img{
    object-fit: cover;
    max-width: 541px;
}
.contenedor-img{
    width: 50%px;
    height: 430px;
    background-color: black;
    transition: all 0.2s;
    border-radius: 20px;
}
.contenedor-img:hover{
    transform: scale(0.98);
    border-radius: 20px;
}

/*Imagenes del menu*/
section{
    display: flex;
    width: 100%;
    height: 430px;
    margin-bottom: 10px;
}
section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    border-radius: 20px;
}

section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
    border-radius: 20px;
}

footer { /*pie de pagina*/
    position: relative;
    background-color: #ffbcbe;    
    width: 100%;
    height: auto;
    display: block;
    padding: 6px 6px;
    box-sizing: border-box;
    border-top: 6px double #562B25;
}
#contactos, #direcciones, #link-pie{
    position: relative;
    z-index: 10;
}
#img-pie1{
    position: absolute;
    top: 20px;
    right: 100px;
}
#img-pie2{
    position: absolute;
    top: 80px;
    right: 500px;
}
#img-pie3{
    position: absolute;
    top: 190px;
    right: 280px;
}
#img-pie4{
    position: absolute;
    bottom: 15px;
    right: 60px;
}
/*Estilos de fuentes*/
h1{font-family:'Tilt Warp', cursive; color: #562B00; font-size: 3em;}
.titulos h2{font-family: 'Tilt Warp', cursive; color: #562B00; font-size: 2em; text-align: left;}
h2{font-family: 'Tilt Warp', cursive; color: #562B00; font-size: 2em; text-align: center;}
h3{font-family: 'Tilt Warp', cursive; color: #562B00;}
p{font-family: "Roboto', sans-serif"; color: #562B25; font-size: 1.2em;}
#pie-informacion{color: #562B25; font-size: 1em;}

#link-pie{
    background-color: #bc7879;
    text-align: center;
    margin-top: 6px;
    border-style: groove;
    padding: 6px;
    width: auto;
}
/*Redes sociales*/
.contenedor-icons{
    background-color: #b85456;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #562B00;
}
.contenedor-icons:hover{
    transform: scale(1.20);
}
.contenedor-icons:active{
    background-color: #562B00;
}
.redes-sociales{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 15px;
    right: 10px;
    gap: 10px;
    z-index: 20;
}

hr{
    background-color: #562B00;
    border: 3px solid #562B00;
}

#link-pie a {color: #562B25; font-family: "Roboto', sans-serif"; font-size: 2em;}

#link-pie a:visited {color:#562B25;}

#link-pie a:hover, #menu div a:hover {color: brown;}

#link-pie a:active, #menu div a:active {color: #562B00;}

/*Animaciones css3*/
#menu div h2, body div #f1{
    animation: ilustrationAnimate ease-in-out 1s infinite alternate;
}
@keyframes ilustrationAnimate {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.04);
    }
}
.redes-sociales a:hover {
    cursor: pointer;
    animation: ilustrationAnimate ease-in-out 1s infinite alternate;
}

/*Responsive*/
@media screen and (max-width: 600px) {
    .comentarios-mona-china {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .logo1 {
        width: 130px;
        height: 100px;
        padding: 5px;
        margin-bottom: 15px;
    }
    .logo2 {
        width: auto;
        height: 110px;
        margin-bottom: 15px;
    }
    .mona-china {
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: end;
    }
    #fondo1{
        width: 60px;
        height: 60px;
    }
    .mapa{
        width: 400px;
        margin-left: none;
        padding: 0 0.4rem;
    }
    .titulos p, #historia div p{
        text-align: justify;
    }
    .description-local img{
        max-width: 100%;
        max-height: auto;
    }
    #historia{
        display: flex;
        flex-wrap: wrap;
    }
    #historia div p{
        margin-left: 0;
    }
}
/*Comentarios*/
.testimonios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.testimonios-header{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimonios-header h2{
    font-size: 2rem;
    font-weight: 500;
    color: #562B00;
    padding: 10px 20px;
    border: 2px solid #b85456;
    border-radius: 30px;
}
.testimonios-header span{
    font-size: 2.2rem;
    color: #252525;
    margin-bottom: 25px;
    text-align: center;
}
.testimonios-contenedor{
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
}
.testimonios-caja{
    width: 500px;
    box-shadow: 2px 2px 30px rgba(48, 57, 42, 0.413);
    background-color: #ffbcbe;
    padding: 20px;
    margin:15px;
    cursor: pointer;
    border-radius: 20px;
}
.perfil-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 30px;
}
.perfil-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.perfil{
    display: flex;
    align-items: center;
}
.name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color: #562B00;
    font-size: 1.3rem;
}
.name-user span{
    color: #b85456;
    font-size: 1.1rem;
}
.resellas{
    color: #b85456;
    display: flex;
}
.resellas i{
    margin: 2px;
}
.caja-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.comentarios-clientes p{
    color: #4d4d4d;
    text-align: justify;
}

/*Mpa de localización*/
.mapa{
    width: 600px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}
.mapa-iframe{
    width: 100%;
}
iframe{
    width: 100%;
    height: 450px;
    border-radius: 15px ;
    border: 3px solid crimson;
    box-shadow: 2px 2px 30px rgba(186, 52, 201, 0.413);
}
.mapa p{
    text-align: justify;
}
.desc-resella{
    width: 100%;
    padding: 0 1rem;
}
.img-decoracion{
    border-radius: 15px ;
    border: 3px solid crimson;
    box-shadow: 2px 2px 30px rgba(186, 52, 201, 0.413);
}
/* Preloader */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(252, 203, 212);
    z-index: 9999;
    
}
#loader {
    border: 8px solid #b85456;
    border-top: 8px solid rgb(235, 163, 175);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s ease-in-out infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
}